.destination {
  display: flex;
  flex-direction: column;
  margin: 4rem 6rem;
  align-items: center;
}

.head-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head-text h1 {
  font-size: 2.5rem;
}
.head-text p {
  color: black;
  margin-top: -12px;
}

.places-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  z-index: -2;
}

.text {
  width: 50%;
  text-align: start;
  font-size: 1.4rem;
}
.text h3 {
  padding-bottom: 1rem;
}

.place {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.place img {
  width: 49%;
  height: 25rem;
  object-fit: cover;
  border-radius: 5% 50%/50% 5%;
  box-shadow: 16px 13px 16px 3px rgb(115 98 98 / 90%);
  z-index: -10;
}

.place img:first-child {
  margin-left: 2rem;
}
.place img:nth-child(2) {
  position: relative;
  margin-left: 2rem;
  top: -2rem;
}

.text p {
  color: black;
  margin-top: -1rem;
}

@media only screen and (max-width: 768px) {
  .head-text h1 {
    font-size: x-large;
    white-space: nowrap;
  }

  .text {
    width: 160%;
    font-size: 1.1rem;
  }

  .place {
    display: flex;
    justify-content: center;
  }
  .places-text {
    display: flex;
    flex-direction: column-reverse;
  }
  .places-text .place {
    width: 100%;
  }
  .place img {
    width: 144%;
    height: 20rem;
  }

  .place img:first-child {
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 2700px) {
  .even {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    flex-direction: row-reverse;
  }
  .even .place {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .even .place img:first-child {
    margin-left: -6rem;
  }
  .even .place img:nth-child(2) {
    margin-left: 2rem;
  }

  .text {
    width: 145%;
    font-size: 1.1rem;
  }
  .places-text .place {
    width: 63%;
  }
}

@media only screen and (max-width: 766px) and (max-height: 1067px) {
  .text {
    width: 125%;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .places-text .place {
    width: 38%;
  }

  .even {
    flex-direction: column-reverse;
  }
  .even .place img:nth-child(2) {
    margin-right: -6rem;
  }
}

@media only screen and (max-width: 768px) and (max-height: 940px) {
  .even {
    display: flex;
    flex-direction: column-reverse;
  }
  .even .place {
    width: 49%;
  }
  .even .place img:nth-child(2) {
    margin-right: -5rem;
  }
  .text {
    width: 125%;
  }
  .places-text .place {
    width: 43%;
  }
}

@media only screen and (max-width: 768px) {
  .even {
    display: flex;
    flex-direction: column-reverse;
  }
  .even .place {
    width: 50%;
  }
  .even .place img:nth-child(2) {
    margin-right: -5rem;
  }
  .text {
    width: 125%;
  }
  .places-text .place {
    width: 38%;
  }
}


